.counterStyle {
    border: solid green 1px;
    background-color: #F5F5DC;
}

.centreObj {
    width: 250px;
    height: 300px;
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.centreText {
    text-align: center;
}

.numberText {
    font-size: 36px;
    font-weight: bold;
}